h1{
    background-color: seagreen;
    line-height: 50px;
    margin-top: 7px;
    font-size: 50px;
    font-family:gills sans;

}
h3{
	font-size: 30px;
	background-color:#e29215;
	margin-right: 250px;
	margin-left: 250px;
	margin-top: 30px;
	font-family: cursive;
}
.h1{
	background-color:#c8ccd6;
}
.e1{
	font-size:25px;
}
.r1{
	text-align: right;
}
.t1{
	background-color:#c3d8d0 ;
	
}
.e2{
	font-size: 14px;
	text-align: center;
}